<div class="container mt-5">
  <h1>People</h1>
  <div class="view-toggle">
    <button mat-icon-button (click)="toggleView()">
      <mat-icon *ngIf="isTableView">view_module</mat-icon>
      <mat-icon *ngIf="!isTableView">table_view</mat-icon>
    </button>
  </div>

  <mat-spinner *ngIf="loading"></mat-spinner>

  <div *ngIf="!loading">
    <table mat-table *ngIf="isTableView" [dataSource]="people">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let person"> {{ person.id }} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let person"> {{ person.name }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['id', 'name']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'name'];" (click)="navigateToPeople(row.id)"></tr>
    </table>
    <div class="card-container" *ngIf="!isTableView">
      <mat-card *ngFor="let person of people" (click)="navigateToPeople(person.id)">
        <mat-card-title>{{ person.name }}</mat-card-title>
        <mat-card-content>
          <p><strong>ID:</strong> {{ person.id }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
