
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">PAC 5</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item"><a class="nav-link" href="/">Teoria pac 5</a></li>
      <li class="nav-item"><a class="nav-link" href="/list">PAC 5</a></li>
    </ul>
  </div>
</nav>
<p class="presentacio">Per aquest pac 5 he escollit utilitzar la api de star wars https://swapi.dev/api/,
  podeu accedir a la documentació fent a <a href="https://swapi.dev/">click aquí</a></p>
<p class="presentacio">He fet ús de la part de personatges https://swapi.dev/api/people/</p>
